header{
    background-color: $white;
    @include box-shadow(0, 2px, 9px, 0, rgba(0, 0, 0, 0.1));
    padding: 15px 15px 10px 15px;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 9;
}

main{
    margin-top: 90px;
    margin-left: 70px;
    width: calc(100% - 70px);

    > .container {
        max-width: 100%;
        padding: 0;
        
    }
   
    @include media-breakpoint-up(md) { 
        margin-left: 290px;
        width: calc(100% - 320px);
     }
   
}


.logo{
    width: 120px;
}