header{
    background-color: $white;
    @include box-shadow(0, 2px, 9px, 0, rgba(0, 0, 0, 0.1));
    padding: 15px 15px 10px 15px;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 9;
}

main{
    margin-top: 90px;
    margin-left: 290px;
    width: calc(100% - 290px);
    > .container {
        max-width: 100%;
    }
    @include screen(mobile) {
        margin-left: 90px;
        width: calc(100% - 90px);
    }
   
}


.logo{
    width: 120px;
}