.active-demo {
    background-color: $primary;
    
    .product-image-title {
        color: $white;
        @include font-size(16);
        font-family: $fontBold;
        margin-bottom: 5px;
    }
    p {
        color: $gray3;
        @include font-size(16);
        font-family: $fontReg;
        &:last-child {
            margin-top: 15px;
        }
    }

    &__remove-btn {
        color: $white;
        @include font-size(20);
    }
    .card__list--price-details {
        border-bottom: transparent;
        .icon-images {
            @include font-size(50);
            color: #8799b5;
        }
    }
}


.add-product {
    height: 100%;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: rgba($black, .4);

    p {
        color: $black;
        @include font-size(20);
    }
   
}