.grid-sizer,
.grid-item { width: 20%; }

.demo4-card { 
    width: 40%;
    margin: 20px 20px 20px 0;
    padding:1rem;
     
    &__image-wrap {
        height: 330px;
        overflow: hidden;
        @include border-radius(12px);
    }

     &:first-child {
          margin-top: 10%;
    }
 }

 .masonry-grid {
     width: 80%;
     margin: 0 auto;
     margin-left: 18%;
 }