.slider-instance-wrapper {
    position: relative;
}

.swiper-slide {

    &--main {
        height: 100%;
    }
    &__card {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 20vh;
            @include gradient( rgba($black, .8), rgba($black, 0), vertical);
        }
    }

    &__card--header {
        position: absolute;
        top: 50px;
        left: 0;
        display: flex;
        

    }
    
    &__product-title {
        color: $white;
        text-decoration: none;
        @include font-size(24);
        font-family: $fontSemiBold;
    }

    &__discription {
        color:  $white;
        font-family: $fontReg;
        @include font-size(18);
    }

    .action__btn {
        color: $white;
        @include font-size(30);
        padding: 0 15px;
        position: relative;
        top: 10px;
    }
}

.swiper-thumb {
    position: absolute;
    bottom: 150px;
    width: 100%;

    .swiper-wrapper {
        display: flex;
        justify-content: flex-end;
    }
    
    &__card {
        width: 90px !important;
        height: 90px;
        padding: 5px;
        @include border-radius(5px);
        background-color: $white;
    }
}