.meeting-details {
    &--title {
        @include font-size(14);
        margin-bottom: 10px;
    }

    &--value {
        @include font-size(24);
        font-family: $fontSemiBold;
        color: $black;
        margin-bottom: 10px;

        &-text {
            font-family: $fontReg;
            @include font-size(16);

            .icon-flame {
                color: $flame
            }
        }
    }

    &--date {
         @include font-size(12);
    }

    .btn-group {
        justify-content: flex-end;

        .btn.btn__flat {
            @include font-size(25);
        }
    }

    .btn__status {
        .circle {
            display: inline-block;
            background: $secondary;
            height: 15px;
            width: 15px;
            @include border-radius(50%);
            margin-right: 10px;
            margin-left: 5px;
            top: 2px;
            position: relative;
            @include box-shadow(0, 10px, 21px, 0, rgba(47, 89, 81, 0.34));
        }
    }
}


